# Ignore eclipse and atom files
.project
.cproject
.settings
.tags
.tags1

# Ignore build files and folders
build
coverage/
.coverage.info
.coverage.info.pre
.codecov.ignore
.sconsign.dblite
tests_report
coverage_report
*.pyc
*.pyo
*.a
*.map
host_tests
*.hex

# Ignore downloaded cpputest
cpputest-3.8.tar.gz
cpputest-3.8
cpputest-tree
